* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

/* esconder scrollbar no: chrome, safari, edge, opera */
::-webkit-scrollbar {
  display: none; }

/* esconder scrollbar no: internet explorer*/
body {
  -ms-overflow-style: none; }

/* esconder scrollbar no: firefox*/
html {
  scrollbar-width: none; }

a {
  text-decoration: none;
  list-style: none;
  outline: none; }

body {
  width: 100%;
  height: 120vh; }
  body main {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    background-color: #6A0000; }
    body main #title {
      font-family: "Poppins", sans-serif;
      color: #dc9000;
      font-weight: 700;
      margin-top: 50px; }
    body main .input {
      font-family: "Poppins", sans-serif;
      font-weight: 400;
      background-color: #fff;
      margin-top: 35px;
      padding-left: 10px;
      height: 45px;
      border: none;
      border-radius: 5px;
      outline: none; }
    body main #nomeProd,
    body main #categoria,
    body main #descricao {
      width: 580px; }
    body main #valor {
      width: 200px;
      outline: none; }
    body main #fileContainer {
      height: 300px;
      margin-top: 30px; }
      body main #fileContainer #fileLabel {
        width: 300px;
        height: 100%;
        background-color: #fff;
        color: #9098b1;
        font-family: "Poppins", sans-serif;
        padding-top: 45%;
        padding-left: 20%; }
      body main #fileContainer #file {
        display: none; }
    body main #btnContainer {
      margin-top: 100px;
      display: flex;
      justify-content: end; }
      body main #btnContainer .btn {
        width: 240px;
        height: 40px;
        font-family: "Poppins", sans-serif;
        color: #fff; }
      body main #btnContainer #btnCadastrar {
        background-color: #dc9000; }

@media (max-width: 375px) {
  body {
    width: 100%;
    height: 100vh; }
    body main #nomeProd,
    body main #categoria,
    body main #descricao,
    body main #valor {
      width: 85%; }
    body main #fileContainer {
      height: 300px;
      margin-top: 30px; }
      body main #fileContainer #fileLabel {
        width: 150px;
        padding-top: 75%;
        padding-left: 14%; }
      body main #fileContainer #file {
        display: none; }
    body main #btnContainer {
      justify-content: center; } }
@media (min-width: 375px) and (max-width: 425px) {
  body {
    width: 100%;
    height: 100vh; }
    body main #nomeProd,
    body main #categoria,
    body main #descricao,
    body main #valor {
      width: 85%; }
    body main #fileContainer {
      height: 300px;
      margin-top: 30px; }
      body main #fileContainer #fileLabel {
        width: 150px;
        padding-top: 75%;
        padding-left: 14%; }
      body main #fileContainer #file {
        display: none; }
    body main #btnContainer {
      justify-content: center; } }
@media (min-width: 426px) and (max-width: 486px) {
  body {
    width: 100%;
    height: 100vh; }
    body main #nomeProd,
    body main #categoria,
    body main #descricao,
    body main #valor {
      width: 100%; }
    body main #fileContainer {
      height: 300px;
      margin-top: 30px; }
      body main #fileContainer #fileLabel {
        width: 150px;
        padding-top: 75%;
        padding-left: 14%; }
      body main #fileContainer #file {
        display: none; }
    body main #btnContainer {
      justify-content: center; } }
@media (min-width: 486px) and (max-width: 550px) {
  body {
    width: 100%;
    height: 100vh; }
    body main #nomeProd,
    body main #categoria,
    body main #descricao,
    body main #valor {
      width: 100%; }
    body main #fileContainer {
      height: 300px;
      margin-top: 30px; }
      body main #fileContainer #fileLabel {
        width: 200px;
        padding-top: 53%;
        padding-left: 14%; }
      body main #fileContainer #file {
        display: none; }
    body main #btnContainer {
      justify-content: center; } }
@media (min-width: 550px) and (max-width: 575px) {
  body {
    width: 100%;
    height: 100vh; }
    body main {
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      background-color: #6A0000; }
      body main #nomeProd,
      body main #categoria,
      body main #descricao,
      body main #valor {
        width: 100%; }
      body main #fileContainer {
        height: 300px;
        margin-top: 30px; }
        body main #fileContainer #fileLabel {
          width: 250px;
          padding-top: 53%;
          padding-left: 14%; }
        body main #fileContainer #file {
          display: none; }
      body main #btnContainer {
        justify-content: center; } }
@media (min-width: 576px) and (max-width: 768px) {
  body {
    width: 100%;
    height: 100vh; }
    body main #nomeProd,
    body main #categoria,
    body main #descricao,
    body main #valor {
      width: 100%; }
    body main #fileContainer {
      height: 300px;
      margin-top: 30px; }
      body main #fileContainer #fileLabel {
        width: 250px;
        padding-top: 53%;
        padding-left: 14%; }
      body main #fileContainer #file {
        display: none; }
    body main #btnContainer {
      justify-content: center; } }
@media (min-width: 768px) and (max-width: 990px) {
  body {
    width: 100%;
    height: 100vh; }
    body main #nomeProd,
    body main #categoria,
    body main #descricao {
      width: 420px;
      margin-right: 20px; }
    body main #valor {
      width: 200px;
      outline: none; } }

/*# sourceMappingURL=style_login.css.map */
