* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

/* esconder scrollbar no: chrome, safari, edge, opera */
::-webkit-scrollbar {
  display: none; }

/* esconder scrollbar no: internet explorer*/
body {
  -ms-overflow-style: none; }

/* esconder scrollbar no: firefox*/
html {
  scrollbar-width: none; }

a {
  text-decoration: none;
  list-style: none;
  outline: none; }

body {
  width: 100%;
  height: 100vh; }
  body main {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center; }
    body main #img-container {
      width: 50%;
      height: 100%;
      margin-left: -23px; }
      body main #img-container #img {
        width: 100%;
        height: 100%; }
    body main #login-container {
      width: 50%;
      height: 100%;
      background-color: #fff; }
      body main #login-container #title-container {
        height: 150px;
        width: 100%;
        margin-top: 7%;
        background-color: #fff; }
        body main #login-container #title-container #title,
        body main #login-container #title-container #subtitle {
          font-family: "Poppins", sans-serif;
          letter-spacing: 0.5px;
          text-align: center;
          padding-top: 20px; }
        body main #login-container #title-container #title {
          color: #223263;
          font-size: 24px;
          font-weight: 700;
          line-height: 30px; }
        body main #login-container #title-container #subtitle {
          color: #9098b1;
          font-size: 16px;
          font-weight: 400;
          line-height: 22px; }
      body main #login-container #form-container {
        width: 100%;
        height: 380px;
        background-color: #fff; }
        body main #login-container #form-container form {
          width: 100%; }
          body main #login-container #form-container form .btn {
            width: 343px;
            height: 50px;
            border-radius: 5px;
            font-family: "Poppins", sans-serif; }
          body main #login-container #form-container form .input-body {
            width: 90%;
            margin-left: 5%;
            height: 40px;
            border: solid 1px #9098b1;
            border-radius: 5px; }
            body main #login-container #form-container form .input-body .icon {
              font-size: 20px;
              margin: 10px 7px 0 20px;
              color: #9098b1; }
            body main #login-container #form-container form .input-body input {
              width: 100%;
              color: #9098b1;
              border: none;
              outline: none; }
          body main #login-container #form-container form #btn-container {
            display: flex;
            justify-content: center; }
            body main #login-container #form-container form #btn-container #button_entrar {
              color: #fff;
              background-color: #dc9000;
              border: none;
              padding-top: 12px;
              margin-top: 40px; }
          body main #login-container #form-container form #ou {
            color: #000;
            text-align: center;
            margin-top: 40px; }
          body main #login-container #form-container form #google-login-container {
            display: flex;
            justify-content: center;
            height: 80px;
            width: 100%;
            margin-top: 20px; }
            body main #login-container #form-container form #google-login-container #button-google {
              color: #9098b1;
              background-color: #fff;
              border: solid 1px #9098b1;
              font-weight: bold;
              margin-top: 10px; }
            body main #login-container #form-container form #google-login-container #google {
              width: 25px;
              height: 25px;
              margin-right: 10px; }
            body main #login-container #form-container form #google-login-container #google-text {
              padding: 5px; }
          body main #login-container #form-container form #cadastro {
            font-family: "Poppins", sans-serif;
            margin-top: 10px;
            text-align: center; }
            body main #login-container #form-container form #cadastro #cadastro-link {
              font-weight: bold; }

@media (max-width: 768px) {
  main {
    width: 100%; }
    main #img-container {
      display: none; }
    main .row > #login-container {
      width: 100%;
      height: 100%; }
      main .row > #login-container #form-container form {
        width: 100%; }
        main .row > #login-container #form-container form .input-body {
          height: 40px;
          width: 100%;
          margin-left: 0; }
          main .row > #login-container #form-container form .input-body .icon {
            font-size: 20px;
            margin: 10px 7px 0 10px;
            color: #9098b1; }
          main .row > #login-container #form-container form .input-body input {
            color: #9098b1;
            border: none;
            outline: none; }
          main .row > #login-container #form-container form .input-body #cadastro {
            margin-top: 0; } }

/*# sourceMappingURL=style_login.css.map */
