* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

/* esconder scrollbar no: chrome, safari, edge, opera */
::-webkit-scrollbar {
  display: none; }

/* esconder scrollbar no: internet explorer*/
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  -ms-overflow-style: none; }

/* esconder scrollbar no: firefox*/
html {
  scrollbar-width: none; }

a {
  text-decoration: none;
  list-style: none;
  outline: none; }

body #elementsContainer {
  display: flex;
  flex-direction: row;
  width: 100%; }
  body #elementsContainer aside {
    width: 22%;
    background-color: #6a0000; }
    body #elementsContainer aside #ul {
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center; }
      body #elementsContainer aside #ul .nav-item {
        width: 100%;
        color: #fff;
        border-bottom: solid 1px #fff; }
        body #elementsContainer aside #ul .nav-item a:first-child {
          border-top: solid 1px #fff; }
        body #elementsContainer aside #ul .nav-item a {
          text-align: center;
          color: #fff;
          font-size: 20px; }
      body #elementsContainer aside #ul :hover {
        background-color: #dc9000;
        transition: 0.5s; }
      body #elementsContainer aside #ul .active {
        color: #fff;
        background-color: #dc9000; }

#elementsContainer {
  display: flex;
  flex-direction: row;
  width: 100%; }
  #elementsContainer main {
    height: 1950px;
    width: 78%;
    background-color: #fff; }
    #elementsContainer main #userContainer {
      background-color: #dc9000;
      height: 70px; }
      #elementsContainer main #userContainer #interrogation,
      #elementsContainer main #userContainer #bell,
      #elementsContainer main #userContainer #cart,
      #elementsContainer main #userContainer #userImage {
        margin-right: 40px; }
      #elementsContainer main #userContainer #interrogation,
      #elementsContainer main #userContainer #bell,
      #elementsContainer main #userContainer #cart {
        font-size: 22px;
        color: #fff;
        margin-top: 15px;
        cursor: pointer; }
      #elementsContainer main #userContainer #userImage {
        width: 50px;
        height: 50px;
        margin-top: 10px;
        border-radius: 50px;
        background-image: url("../../../images/user.jpg");
        background-repeat: no-repeat;
        background-size: cover; }
    #elementsContainer main #sortContainer,
    #elementsContainer main #filterContainer {
      width: 100%;
      display: flex;
      justify-content: space-between; }
      #elementsContainer main #sortContainer #titleContainer,
      #elementsContainer main #filterContainer #titleContainer {
        display: flex;
        height: 48px;
        margin-top: 20px; }
        #elementsContainer main #sortContainer #titleContainer #title,
        #elementsContainer main #sortContainer #titleContainer #title2,
        #elementsContainer main #filterContainer #titleContainer #title,
        #elementsContainer main #filterContainer #titleContainer #title2 {
          margin-right: 20px; }
        #elementsContainer main #sortContainer #titleContainer #title,
        #elementsContainer main #filterContainer #titleContainer #title {
          color: #223263; }
        #elementsContainer main #sortContainer #titleContainer #title2,
        #elementsContainer main #filterContainer #titleContainer #title2 {
          color: #dc9000;
          border-bottom: solid 2px #dc9000;
          cursor: pointer; }
    #elementsContainer main #sortContainer {
      height: 120px; }
      #elementsContainer main #sortContainer #azContainer {
        display: flex;
        height: 80px;
        width: 170px;
        margin-top: 40px; }
        #elementsContainer main #sortContainer #azContainer #az,
        #elementsContainer main #sortContainer #azContainer #filter {
          font-size: 22px;
          color: #dc9000;
          margin: 50px 15px 0 0; }
        #elementsContainer main #sortContainer #azContainer #btnAdd {
          background-color: #dc9000;
          height: 40px;
          color: #fff;
          font-size: 18px;
          font-weight: 500;
          margin-top: 35px; }
    #elementsContainer main #filterContainer {
      height: 90px; }
      #elementsContainer main #filterContainer #azFilterContainer {
        display: flex;
        justify-content: space-around;
        height: 50px;
        width: 170px;
        margin-top: 25px; }
        #elementsContainer main #filterContainer #azFilterContainer #az,
        #elementsContainer main #filterContainer #azFilterContainer #filter {
          font-size: 22px;
          color: #dc9000;
          margin: 10px 15px 0 0; }
    #elementsContainer main #productsContainer {
      height: 100%; }
      #elementsContainer main #productsContainer .card {
        height: 140px;
        margin-top: 25px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        border: solid 1px #9098b1; }
        #elementsContainer main #productsContainer .card .productImageTitle {
          display: flex;
          margin-top: 20px;
          margin-left: 15px; }
          #elementsContainer main #productsContainer .card .productImageTitle .productImg {
            width: 100px;
            height: 100px;
            border-radius: 50px; }
          #elementsContainer main #productsContainer .card .productImageTitle .titleDescriptionContainer {
            display: flex;
            flex-direction: column; }
            #elementsContainer main #productsContainer .card .productImageTitle .titleDescriptionContainer .cardTitle {
              color: #223263;
              font-weight: bold;
              margin: 15px 0 0 20px; }
            #elementsContainer main #productsContainer .card .productImageTitle .titleDescriptionContainer .cardDescription {
              color: #223263;
              margin: 3px 0 0 20px;
              font-weight: 600; }
        #elementsContainer main #productsContainer .card .priceContainer {
          display: flex;
          flex-direction: column; }
          #elementsContainer main #productsContainer .card .priceContainer .price {
            color: #223263;
            font-size: 22px;
            font-weight: bold;
            margin: 30px 35px 0 0;
            text-align: center; }
          #elementsContainer main #productsContainer .card .priceContainer .btnEdit,
          #elementsContainer main #productsContainer .card .priceContainer .btnPurchase {
            width: 130px;
            height: 45px;
            color: #fff;
            background-color: #dc9000;
            margin: 10px 35px 0 0;
            font-size: 18px;
            font-weight: 600; }
    #elementsContainer main #filterModal .modal-dialog {
      font-family: "Poppins", sans-serif; }
      #elementsContainer main #filterModal .modal-dialog .modal-content {
        background-color: #fff;
        height: 180px; }
        #elementsContainer main #filterModal .modal-dialog .modal-content #modalTitle {
          margin-top: 20px; }
        #elementsContainer main #filterModal .modal-dialog .modal-content .btnFilter,
        #elementsContainer main #filterModal .modal-dialog .modal-content .btnClose {
          background-color: #dc9000;
          color: #fff; }
        #elementsContainer main #filterModal .modal-dialog .modal-content .btnFilter {
          height: 40px;
          margin: 10px 0 0 10px; }
        #elementsContainer main #filterModal .modal-dialog .modal-content .btnClose {
          color: #fff;
          border: none; }

header {
  width: 100%;
  background-color: #dc9000;
  font-family: "Poppins", sans-serif;
  display: none; }
  header nav {
    width: 100%;
    height: 100%; }
    header nav #btn-menu {
      display: none;
      margin: 10px 0 0 20px; }
    header nav .nav-link {
      color: #fff;
      margin-left: 20px; }
    header nav a {
      text-decoration: none; }
  header #userContainerResponsive {
    background-color: #dc9000;
    height: 70px; }
    header #userContainerResponsive #interrogation,
    header #userContainerResponsive #bell,
    header #userContainerResponsive #userImage {
      margin-right: 10px; }
    header #userContainerResponsive #interrogation,
    header #userContainerResponsive #bell {
      font-size: 22px;
      color: #fff;
      margin-top: 15px;
      cursor: pointer; }
    header #userContainerResponsive #userImage {
      width: 50px;
      height: 50px;
      margin-top: 10px;
      border-radius: 50px;
      background-image: url("../../../images/user.jpg");
      background-repeat: no-repeat;
      background-size: cover; }

@media (max-width: 375px) {
  header {
    display: block; }
    header nav {
      width: 100%;
      height: 100%; }
      header nav #btn-menu {
        display: block; }

  #elementsContainer {
    width: 100%;
    height: 100%; }
    #elementsContainer main {
      width: 100%; }
      #elementsContainer main #userContainer {
        display: none !important; }
      #elementsContainer main #sortContainer {
        height: 120px;
        width: 100%;
        display: flex;
        justify-content: space-between; }
        #elementsContainer main #sortContainer #titleContainer {
          height: 48px;
          margin-top: 15px !important; }
          #elementsContainer main #sortContainer #titleContainer #title,
          #elementsContainer main #sortContainer #titleContainer #title2 {
            font-size: 22px;
            margin-left: -10px;
            margin-right: 16px; }
        #elementsContainer main #sortContainer #azContainer {
          width: 150px;
          margin-top: 0;
          margin-left: -10px; }
          #elementsContainer main #sortContainer #azContainer #az {
            font-size: 22px;
            margin: 25px 15px 0 0; }
          #elementsContainer main #sortContainer #azContainer #btnAdd {
            font-size: 15px;
            width: 110px;
            height: 50px;
            margin-top: 10px; }
      #elementsContainer main #filterContainer {
        height: 90px; }
        #elementsContainer main #filterContainer #azFilterContainer {
          justify-content: center;
          margin-top: 18px; }
          #elementsContainer main #filterContainer #azFilterContainer #az,
          #elementsContainer main #filterContainer #azFilterContainer #filter {
            margin: 15px 0 0 20px; }
      #elementsContainer main #productsContainer {
        height: 100%;
        width: 100%; }
        #elementsContainer main #productsContainer .card {
          height: 380px;
          margin-top: 15px;
          margin-bottom: 20px;
          display: flex;
          flex-direction: column;
          justify-content: space-between; }
          #elementsContainer main #productsContainer .card .productImageTitle {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center; }
            #elementsContainer main #productsContainer .card .productImageTitle .productImg {
              width: 90px;
              height: 90px;
              border-radius: 50px; }
            #elementsContainer main #productsContainer .card .productImageTitle .titleDescriptionContainer {
              display: flex;
              flex-direction: column; }
              #elementsContainer main #productsContainer .card .productImageTitle .titleDescriptionContainer .cardTitle {
                margin: 15px 0 0 0;
                text-align: center; }
              #elementsContainer main #productsContainer .card .productImageTitle .titleDescriptionContainer .cardDescription {
                text-align: center;
                margin: 35px 0 0 0; }
          #elementsContainer main #productsContainer .card .priceContainer {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center; }
            #elementsContainer main #productsContainer .card .priceContainer .price {
              margin: 0 0 0 0;
              text-align: center; }
            #elementsContainer main #productsContainer .card .priceContainer .btnEdit {
              width: 150px;
              height: 45px;
              margin: 10px 0 30px 0; }
      #elementsContainer main #filterModal .modal-dialog .modal-content {
        height: 200px; }
        #elementsContainer main #filterModal .modal-dialog .modal-content #modalTitle {
          margin-top: 25px; }
        #elementsContainer main #filterModal .modal-dialog .modal-content .btnFilter {
          height: 80px;
          margin: 10px 0 0 10px; }

  aside {
    width: 0;
    display: none; } }
@media (min-width: 375px) and (max-width: 425px) {
  header {
    display: block; }
    header nav {
      width: 100%;
      height: 100%; }
      header nav #btn-menu {
        display: block; }

  #elementsContainer {
    flex-direction: column;
    width: 100%; }
    #elementsContainer main {
      width: 100%;
      height: 100%; }
      #elementsContainer main #userContainer {
        display: none !important; }
      #elementsContainer main #sortContainer {
        height: 120px;
        width: 100%;
        display: flex;
        justify-content: space-between; }
        #elementsContainer main #sortContainer #titleContainer {
          height: 48px;
          margin-top: 15px !important; }
          #elementsContainer main #sortContainer #titleContainer #title,
          #elementsContainer main #sortContainer #titleContainer #title2 {
            font-size: 22px;
            margin-left: -10px;
            margin-right: 16px; }
        #elementsContainer main #sortContainer #azContainer {
          width: 150px;
          margin-top: 0;
          margin-left: -10px; }
          #elementsContainer main #sortContainer #azContainer #az {
            font-size: 22px;
            margin: 25px 15px 0 0; }
          #elementsContainer main #sortContainer #azContainer #btnAdd {
            font-size: 15px;
            width: 110px;
            height: 50px;
            margin-top: 10px; }
      #elementsContainer main #filterContainer {
        height: 90px; }
        #elementsContainer main #filterContainer #azFilterContainer {
          justify-content: center;
          margin-top: 18px; }
          #elementsContainer main #filterContainer #azFilterContainer #az,
          #elementsContainer main #filterContainer #azFilterContainer #filter {
            margin: 15px 0 0 20px; }
      #elementsContainer main #productsContainer {
        height: 100%;
        width: 100%; }
        #elementsContainer main #productsContainer .card {
          height: 380px;
          margin-top: 15px;
          margin-bottom: 20px;
          display: flex;
          flex-direction: column;
          justify-content: space-between; }
          #elementsContainer main #productsContainer .card .productImageTitle {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center; }
            #elementsContainer main #productsContainer .card .productImageTitle .productImg {
              width: 90px;
              height: 90px;
              border-radius: 50px; }
            #elementsContainer main #productsContainer .card .productImageTitle .titleDescriptionContainer {
              display: flex;
              flex-direction: column; }
              #elementsContainer main #productsContainer .card .productImageTitle .titleDescriptionContainer .cardTitle {
                margin: 15px 0 0 0;
                text-align: center; }
              #elementsContainer main #productsContainer .card .productImageTitle .titleDescriptionContainer .cardDescription {
                text-align: center;
                margin: 35px 0 0 0; }
          #elementsContainer main #productsContainer .card .priceContainer {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center; }
            #elementsContainer main #productsContainer .card .priceContainer .price {
              margin: 0 0 0 0;
              text-align: center; }
            #elementsContainer main #productsContainer .card .priceContainer .btnEdit {
              width: 200px;
              height: 45px;
              margin: 10px 0 30px 0; }
      #elementsContainer main #filterModal .modal-dialog .modal-content {
        height: 200px; }
        #elementsContainer main #filterModal .modal-dialog .modal-content #modalTitle {
          margin-top: 25px; }
        #elementsContainer main #filterModal .modal-dialog .modal-content .btnFilter {
          height: 60px;
          margin: 10px 0 0 10px; }

  aside {
    width: 0;
    display: none; } }
@media (min-width: 426px) and (max-width: 486px) {
  header {
    display: block; }
    header nav {
      width: 100%;
      height: 100%; }
      header nav #btn-menu {
        display: block; }

  #elementsContainer {
    flex-direction: column;
    width: 100%; }
    #elementsContainer main {
      width: 100%;
      height: 100%; }
      #elementsContainer main #userContainer {
        display: none !important; }
      #elementsContainer main #sortContainer {
        height: 120px;
        width: 100%;
        display: flex;
        justify-content: space-between; }
        #elementsContainer main #sortContainer #titleContainer {
          height: 48px;
          margin-top: 15px !important; }
          #elementsContainer main #sortContainer #titleContainer #title,
          #elementsContainer main #sortContainer #titleContainer #title2 {
            font-size: 22px;
            margin-left: 10px;
            margin-right: 16px; }
        #elementsContainer main #sortContainer #azContainer {
          width: 150px;
          margin-top: 0;
          margin-left: -10px; }
          #elementsContainer main #sortContainer #azContainer #az {
            font-size: 22px;
            margin: 25px 15px 0 0; }
          #elementsContainer main #sortContainer #azContainer #btnAdd {
            font-size: 15px;
            width: 110px;
            height: 35px;
            margin-top: 20px; }
      #elementsContainer main #filterContainer {
        height: 90px; }
        #elementsContainer main #filterContainer #azFilterContainer {
          justify-content: center;
          margin-top: 18px; }
          #elementsContainer main #filterContainer #azFilterContainer #az,
          #elementsContainer main #filterContainer #azFilterContainer #filter {
            margin: 15px 0 0 20px; }
      #elementsContainer main #productsContainer {
        height: 100%;
        width: 100%; }
        #elementsContainer main #productsContainer .card {
          height: 380px;
          margin-top: 15px;
          margin-bottom: 20px;
          display: flex;
          flex-direction: column;
          justify-content: space-between; }
          #elementsContainer main #productsContainer .card .productImageTitle {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center; }
            #elementsContainer main #productsContainer .card .productImageTitle .productImg {
              width: 90px;
              height: 90px;
              border-radius: 50px; }
            #elementsContainer main #productsContainer .card .productImageTitle .titleDescriptionContainer {
              display: flex;
              flex-direction: column; }
              #elementsContainer main #productsContainer .card .productImageTitle .titleDescriptionContainer .cardTitle {
                margin: 15px 0 0 0;
                text-align: center; }
              #elementsContainer main #productsContainer .card .productImageTitle .titleDescriptionContainer .cardDescription {
                text-align: center;
                margin: 35px 0 0 0; }
          #elementsContainer main #productsContainer .card .priceContainer {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center; }
            #elementsContainer main #productsContainer .card .priceContainer .price {
              margin: 0 0 0 0;
              text-align: center; }
            #elementsContainer main #productsContainer .card .priceContainer .btnEdit {
              width: 200px;
              height: 45px;
              margin: 10px 0 30px 0; }
      #elementsContainer main #filterModal .modal-dialog .modal-content {
        height: 175px; }
        #elementsContainer main #filterModal .modal-dialog .modal-content #modalTitle {
          margin-top: 25px; }
        #elementsContainer main #filterModal .modal-dialog .modal-content .btnFilter {
          height: 40px;
          margin: 10px 0 0 10px; }

  aside {
    width: 0;
    display: none; } }
@media (min-width: 486px) and (max-width: 550px) {
  header {
    display: block; }
    header nav {
      width: 100%;
      height: 100%; }
      header nav #btn-menu {
        display: block; }

  #elementsContainer {
    flex-direction: column;
    width: 100%; }
    #elementsContainer main {
      width: 100%;
      height: 100%; }
      #elementsContainer main #userContainer {
        display: none !important; }
      #elementsContainer main #sortContainer {
        height: 120px;
        width: 100%;
        display: flex;
        justify-content: space-between; }
        #elementsContainer main #sortContainer #titleContainer {
          height: 48px;
          margin-top: 15px !important; }
          #elementsContainer main #sortContainer #titleContainer #title,
          #elementsContainer main #sortContainer #titleContainer #title2 {
            font-size: 22px;
            margin-left: 10px;
            margin-right: 16px; }
        #elementsContainer main #sortContainer #azContainer {
          width: 150px;
          margin-top: 0;
          margin-left: -10px; }
          #elementsContainer main #sortContainer #azContainer #az {
            font-size: 22px;
            margin: 25px 15px 0 0; }
          #elementsContainer main #sortContainer #azContainer #btnAdd {
            font-size: 15px;
            width: 110px;
            height: 35px;
            margin-top: 20px; }
      #elementsContainer main #filterContainer {
        height: 90px; }
        #elementsContainer main #filterContainer #azFilterContainer {
          justify-content: center;
          margin-top: 18px; }
          #elementsContainer main #filterContainer #azFilterContainer #az,
          #elementsContainer main #filterContainer #azFilterContainer #filter {
            margin: 15px 0 0 20px; }
      #elementsContainer main #productsContainer {
        height: 100%;
        width: 100%; }
        #elementsContainer main #productsContainer .card {
          height: 380px;
          margin-top: 15px;
          margin-bottom: 20px;
          display: flex;
          flex-direction: column;
          justify-content: space-between; }
          #elementsContainer main #productsContainer .card .productImageTitle {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center; }
            #elementsContainer main #productsContainer .card .productImageTitle .productImg {
              width: 90px;
              height: 90px;
              border-radius: 50px; }
            #elementsContainer main #productsContainer .card .productImageTitle .titleDescriptionContainer {
              display: flex;
              flex-direction: column; }
              #elementsContainer main #productsContainer .card .productImageTitle .titleDescriptionContainer .cardTitle {
                margin: 15px 0 0 0;
                text-align: center; }
              #elementsContainer main #productsContainer .card .productImageTitle .titleDescriptionContainer .cardDescription {
                text-align: center;
                margin: 35px 0 0 0; }
          #elementsContainer main #productsContainer .card .priceContainer {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center; }
            #elementsContainer main #productsContainer .card .priceContainer .price {
              margin: 0 0 0 0;
              text-align: center; }
            #elementsContainer main #productsContainer .card .priceContainer .btnEdit {
              width: 250px;
              height: 45px;
              margin: 10px 0 30px 0; }
      #elementsContainer main #filterModal .modal-dialog .modal-content {
        height: 175px; }
        #elementsContainer main #filterModal .modal-dialog .modal-content #modalTitle {
          margin-top: 25px; }
        #elementsContainer main #filterModal .modal-dialog .modal-content .btnFilter {
          height: 40px;
          margin: 10px 0 0 10px; }

  aside {
    width: 0;
    display: none; } }
@media (min-width: 550px) and (max-width: 575px) {
  header {
    display: block; }
    header nav {
      width: 100%;
      height: 100%; }
      header nav #btn-menu {
        display: block; }

  #elementsContainer {
    flex-direction: column;
    width: 100%; }
    #elementsContainer main {
      width: 100%;
      height: 100%; }
      #elementsContainer main #userContainer {
        display: none !important; }
      #elementsContainer main #sortContainer {
        height: 120px;
        width: 100%;
        display: flex;
        justify-content: space-between; }
        #elementsContainer main #sortContainer #titleContainer {
          height: 48px;
          margin-top: 15px !important; }
          #elementsContainer main #sortContainer #titleContainer #title,
          #elementsContainer main #sortContainer #titleContainer #title2 {
            font-size: 22px;
            margin-left: 10px;
            margin-right: 16px; }
        #elementsContainer main #sortContainer #azContainer {
          width: 150px;
          margin-top: 0;
          margin-left: -10px; }
          #elementsContainer main #sortContainer #azContainer #az {
            font-size: 22px;
            margin: 25px 15px 0 0; }
          #elementsContainer main #sortContainer #azContainer #btnAdd {
            font-size: 15px;
            width: 110px;
            height: 35px;
            margin-top: 20px; }
      #elementsContainer main #filterContainer {
        height: 90px; }
        #elementsContainer main #filterContainer #azFilterContainer {
          justify-content: center;
          margin-top: 18px; }
          #elementsContainer main #filterContainer #azFilterContainer #az,
          #elementsContainer main #filterContainer #azFilterContainer #filter {
            margin: 15px 0 0 20px; }
      #elementsContainer main #productsContainer {
        height: 100%;
        width: 100%; }
        #elementsContainer main #productsContainer .card {
          height: 380px;
          margin-top: 15px;
          margin-bottom: 20px;
          display: flex;
          flex-direction: column;
          justify-content: space-between; }
          #elementsContainer main #productsContainer .card .productImageTitle {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center; }
            #elementsContainer main #productsContainer .card .productImageTitle .productImg {
              width: 90px;
              height: 90px;
              border-radius: 50px; }
            #elementsContainer main #productsContainer .card .productImageTitle .titleDescriptionContainer {
              display: flex;
              flex-direction: column; }
              #elementsContainer main #productsContainer .card .productImageTitle .titleDescriptionContainer .cardTitle {
                margin: 15px 0 0 0;
                text-align: center; }
              #elementsContainer main #productsContainer .card .productImageTitle .titleDescriptionContainer .cardDescription {
                text-align: center;
                margin: 35px 0 0 0; }
          #elementsContainer main #productsContainer .card .priceContainer {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center; }
            #elementsContainer main #productsContainer .card .priceContainer .price {
              margin: 0 0 0 0;
              text-align: center; }
            #elementsContainer main #productsContainer .card .priceContainer .btnEdit {
              width: 280px;
              height: 45px;
              margin: 10px 0 30px 0; }
      #elementsContainer main #filterModal .modal-dialog .modal-content {
        height: 175px; }
        #elementsContainer main #filterModal .modal-dialog .modal-content #modalTitle {
          margin-top: 25px; }
        #elementsContainer main #filterModal .modal-dialog .modal-content .btnFilter {
          height: 40px;
          margin: 10px 0 0 10px; }

  aside {
    width: 0;
    display: none; } }
@media (min-width: 576px) and (max-width: 768px) {
  #elementsContainer {
    flex-direction: column;
    width: 100%; }
    #elementsContainer main {
      width: 100%;
      height: 100%; }
      #elementsContainer main #sortContainer {
        height: 120px;
        width: 100%;
        display: flex;
        justify-content: space-between; }
        #elementsContainer main #sortContainer #titleContainer {
          height: 48px;
          margin-top: 15px !important; }
          #elementsContainer main #sortContainer #titleContainer #title,
          #elementsContainer main #sortContainer #titleContainer #title2 {
            font-size: 22px;
            margin-left: 10px;
            margin-right: 16px; }
        #elementsContainer main #sortContainer #azContainer {
          width: 150px;
          margin-top: 0;
          margin-left: -10px; }
          #elementsContainer main #sortContainer #azContainer #az {
            font-size: 22px;
            margin: 25px 15px 0 0; }
          #elementsContainer main #sortContainer #azContainer #btnAdd {
            font-size: 15px;
            width: 110px;
            height: 35px;
            margin-top: 20px; }
      #elementsContainer main #filterContainer {
        height: 90px; }
        #elementsContainer main #filterContainer #azFilterContainer {
          justify-content: center;
          margin-top: 18px; }
          #elementsContainer main #filterContainer #azFilterContainer #az,
          #elementsContainer main #filterContainer #azFilterContainer #filter {
            margin: 15px 0 0 35px; }
      #elementsContainer main #productsContainer {
        height: 2150px;
        width: 100%; }
        #elementsContainer main #productsContainer .card {
          height: 180px;
          margin: 25px 0 20px 0;
          display: flex;
          flex-direction: row;
          justify-content: space-between; }
          #elementsContainer main #productsContainer .card .productImageTitle {
            display: flex;
            flex-direction: row; }
            #elementsContainer main #productsContainer .card .productImageTitle .productImg {
              width: 80px;
              height: 80px;
              margin-left: -8px;
              border-radius: 50px; }
            #elementsContainer main #productsContainer .card .productImageTitle .titleDescriptionContainer {
              display: flex;
              flex-direction: column; }
              #elementsContainer main #productsContainer .card .productImageTitle .titleDescriptionContainer .cardTitle {
                margin: 15px 0 0 10px; }
              #elementsContainer main #productsContainer .card .productImageTitle .titleDescriptionContainer .cardDescription {
                margin: 10px 0 0 5px; }
          #elementsContainer main #productsContainer .card .priceContainer {
            display: flex;
            flex-direction: column;
            margin-right: 18px; }
            #elementsContainer main #productsContainer .card .priceContainer .price {
              margin: 30px 0 0 0;
              text-align: center; }
            #elementsContainer main #productsContainer .card .priceContainer .btnEdit {
              width: 100px;
              height: 40px;
              margin: 10px 0 30px 10px; } }

/*# sourceMappingURL=style_inicio.css.map */
