<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Início Cliente</title>
    <link rel="shortcut icon" href="../assets/images/logo.png" type="image/x-icon">
    <link rel="stylesheet" href="../assets/css/admin/inicio/style_inicio.css">
    <link rel="stylesheet" href="../assets/css/admin/carrinho/style_inicio.css">
    <!-- link bootstrap css -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <!--Link do Fontawesome-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css">
    <!-- Link Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
</head>

<body onload="carregaListaProdutos('todos')">
    <header>
        <section class="d-flex">
            <nav class="navbar navbar-expand-sm d-flex justify-content-between">
                <a style="font-size: 22px; color: #fff;" class="btn-menu-img-1" id="btn-menu" type="button"
                    data-bs-toggle="collapse" data-bs-target="#menu-navegacao" aria-controls="navbarNavDropdown"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <i class="fa-solid fa-bars" style="font-size: 22px; color: #fff;"></i>
                </a>

                <div class="collapse navbar-collapse" id="menu-navegacao">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link todos" href="#" onclick="criaCardProduto('todos')">Todos</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link pizza" href="#" onclick="criaCardProduto('pizza')">Pizza</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link sobremesa" href="#" onclick="criaCardProduto('sobremesa')">Sobremesa</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link lanche" href="#" onclick="criaCardProduto('lanche')">Lanche</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link acai" href="#" onclick="criaCardProduto('acai')">Açaí</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link bebidas" href="#" onclick="criaCardProduto('bebidas')">Bebidas</a>
                        </li>
                    </ul>
                </div>
            </nav>

            <div class="container-fluid">
                <div class="row">
                    <section class="col-12 d-flex justify-content-end" id="userContainerResponsive">
                        <p id="interrogation"><i class="fa-solid fa-circle-question"></i></p>
                        <p id="bell"><i class="fa-solid fa-bell"></i></p>
                        <div id="userImage">
                        </div>
                    </section>
                </div>
            </div>
        </section>
    </header>

    <section id="elementsContainer">
        <aside>
            <nav>
                <div>
                    <img src="../assets/images/logo.png" class="img-fluid" alt="Tegrafood">
                </div>

                <ul class="nav" id="ul">
                    <li class="nav-item">
                        <a class="nav-link active todos" id="todos" href="#">Todos</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link pizza" id="pizza" href="#">Pizza</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link sobremesa" id="sobremesa" href="#">Sobremesa</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link lanche" id="lanche" href="#">Lanche</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link acai" id="acai" href="#">Açaí</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link bebidas" id="bebidas" href="#">Bebidas</a>
                    </li>
                </ul>
            </nav>
        </aside>

        <main>
            <div class="container-fluid">
                <div class="row">
                    <section class="col-12 d-flex justify-content-end" id="userContainer">
                        <p id="cart" onclick="abrirTelaCarrinho()"><i class="fa-solid fa-cart-shopping"></i></p>
                        <p id="bell"><i class="fa-solid fa-bell"></i></p>
                        <div id="userImage">
                        </div>
                    </section>
                </div>

                <div class="row">
                    <section id="filterContainer">
                        <div id="titleContainer">
                            <h2 id="title">Produtos</h2>
                            <h2 id="title2">Todos</h2>
                        </div>

                        <div id="azFilterContainer">
                            <a href="#" class="fa-solid fa-filter" id="filter" data-bs-toggle="modal"
                                data-bs-target="#filterModal"></a>
                            <a href="#" class="fa-solid fa-arrow-down-a-z" id="az"></a>
                        </div>
                    </section>
                </div>

                <div class="row">
                    <section id="productsContainer">
                    </section>
                </div>
            </div>

            <!-- Modal -->
            <div class="modal fade" id="filterModal" tabindex="-1" aria-labelledby="filterModalLabel"
                aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="d-flex justify-content-around">
                            <h1 class="modal-title fs-5" id="modalTitle">Filtrar Por Preço:</h1>
                        </div>

                        <div class="modal-body">
                            <button class="btn btnFilter" data-bs-toggle="modal" data-bs-target="#filterModal"
                                onclick="filtraProdutos(5, 25)">R$5 à R$25</button>
                            <button class="btn btnFilter" data-bs-toggle="modal" data-bs-target="#filterModal"
                                onclick="filtraProdutos(26, 45)">R$26 à R$45</button>
                            <button class="btn btnFilter" data-bs-toggle="modal" data-bs-target="#filterModal"
                                onclick="filtraProdutos(46, 0)">R$46 ou mais</button>
                        </div>

                        <button class="btnClose" data-bs-dismiss="modal">Fechar</button>
                    </div>
                </div>
            </div>
        </main>
    </section>

    <section id="elementsContainerCart">
        <main>
            <div class="container-fluid">
                <div class="row">
                    <section class="col-12 d-flex justify-content-end" id="userContainer">
                        <p id="shop" onclick="fecharTelaCarrinho()"><i class="fa-solid fa-shop"></i></p>
                        <p id="bell"><i class="fa-solid fa-bell"></i></p>
                        <div id="userImage">
                        </div>
                    </section>
                </div>

                <div class="row">
                    <section id="titleContainer">
                        <h2 id="title">Meu Carrinho</h2>
                    </section>
                </div>

                <div class="row">
                    <section id="cartContainer">
                        <p id="textCart">Seu carrinho está vazio. <br><br> <a href="#" id="addProd" onclick="fecharTelaCarrinho()">Adicionar
                                Produtos</a></p>
                    </section>
                </div>

                <div class="row">
                    <div id="discountPaymentContainer">
                        <section id="discountContainer">
                            <h4 id="discountTitle" style="border: none;">Cupom de Desconto</h4>
                            <div id="discountInputContainer">
                                <select name="#" id="discountInput">
                                    <option value="">Selecione o Cupom</option>
                                    <option value="1">Cupom 1 (5%)</option>
                                    <option value="2">Cupom 2 (10%)</option>
                                    <option value="3">Cupom 3 (15%)</option>
                                </select>

                                <button class="btn" id="discountBtn">Adicionar</button>
                            </div>
                        </section>

                        <section id="paymentContainer">
                            <table class="table" id="paymentTable">
                                <tbody>
                                    <tr>
                                        <td>Subtotal</td>
                                        <td id="subtotal"></td>
                                    </tr>
                                    <tr>
                                        <td>Total</td>
                                        <td id="total"></td>
                                    </tr>
                                </tbody>
                            </table>
                        </section>
                    </div>

                    <section id="closePurchaseContainer" class="d-none">
                        <button>Escolher Mais</button><button>Fechar Pedido</button>
                    </section>
                </div>
            </div>
        </main>
    </section>

    <script src="../controller/products_client.js"></script>
    <!-- <script src="../controller/products_client.js"></script> -->
    <!-- link bootstrap js  -->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
        integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.min.js"
        integrity="sha384-cuYeSxntonz0PPNlHhBs68uyIAVpIIOZZ5JqeqvYYIcEL727kskC66kF92t6Xl2V"
        crossorigin="anonymous"></script>
</body>

</html>